body {
    margin: 0!important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-45 {
    margin-bottom: 45px;
}



.mt-33p {
    margin-top: 33%;
}


.text-center {
    text-align: center;
}

.fs-30 {
    font-size: 30px;
}

.fs-45 {
    font-size: 45px;
}

.flexcc {
    display: flex;
    justify-items: center;
}

.fw-bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.red {
    color: red;
}

.layui-btn+.layui-btn {
    margin-left: 0!important;
}

.active {
    background-color: blue;
    color: white;
}

.sortable-ghost {
    background-color: lightcyan;
}

.pd-15 {
    padding: 15px;
}

.bd-grey {
    border: 1px solid lightgray;
}

.w-100p {
    width: 100%;
}